/*
|**************************************************************************
| 사용자 게시글 표시 부분
|**************************************************************************
*/

/*
|**************************************************************************
| button의 위치를 padding을 통해 지정해준다.
|**************************************************************************
*/
#buttonBox{
  position: absolute;
  left: 17%;
  top: 77%;
}
.align{
  float: left;
}
/*
|**************************************************************************
| Video_사용자 게시글 표시 부분
|**************************************************************************
*/
.point img {
  position:absolute;
  left: 620px;
  top:37px;
  width:40px;
  height:40px;
}
.font p {
  font-weight:bold;
}
.imgbox{
  width: 60%;
  height: 60%;
}
img[title="play_button"]{
  position:absolute;
  left:300px;
  top:180px;
  width:50px;
  height:50px;
}
div img[title="user_profile1"]{
  position:relative;
  top:-60px;
  left:50px;
  width: 75px;
  height: 75px;
  border-radius: 75px;
  border: 4px solid #1f8a70;
}
div img[title="user_profile2"]{
  position:relative;
  top:-100px;
  left:450px;
  width: 75px;
  height: 75px;
  border-radius: 75px;
  border: 4px solid #1f8a70;
}
.user_comment p {
  position: relative;
  display: inline-block;
  top:-90px;
  left:80px;
  border: 2px solid #1f8a70;
  border-radius: 5px;
  padding:5px;
}
.user_comment p:nth-child(3) {
  position: relative;
  display: inline-block;
  top:-130px;
  left:430px;
  border: 2px solid #1f8a70;
  border-radius: 5px;
  padding:5px;
}
