/*
|**************************************************************************
| 음원에 대한 정보들의 위치를 지정해주고 경계선을 그어준다.
|**************************************************************************
*/
#imgbox{
  float: left;
  position: relative;
  margin-top: 5%;
  width: 40%;
  height: 40%;
  left: 20%;
  border: 2px solid #0C586E;
  border-radius: 10px;
}
/*
|**************************************************************************
| 이미지의 패팅을 지정해준다.
|**************************************************************************
*/
  #imgbox>img{
    float:left;
    padding: 7%;
    /*padding-right: 80px;*/
  }
/*
|**************************************************************************
| p태그의 padding 및 글자크기 지정
|**************************************************************************
*/
.font{
  padding: 5%;
  font-size: 20px;
}
/*
|**************************************************************************
| navigation bar 정렬
|**************************************************************************
*/
.nav{
float: left;
}
