      body{
        margin: 0;
        padding: 0;
      }
      div.main_home {
        width: 100%;
        position: relative;
        z-index: 1;
      }
      div.menu_bar {
        width: 100%;
        margin-right: 20px;
        margin-bottom: 20px;
      }
      .sidebar-right {
        width: 200px;
        padding: 20px;
        margin-bottom: 20px;
        float: left;
      }
      .login {
        width: 300px;
        padding: 10px;
        margin-bottom: 20px;
        float: right;
      }
      .content {
        width: 800px;
        padding: 20px;
        margin-bottom: 20px;
        float: left;
        margin-right: auto;
      }
      div.right{
        margin-top: 20px;
      }
      #jb-footer {
        clear: both;
        padding: 20px;
      }
      img.mark{
        width: 100px;
        height: 100px;
      }
      input[type=text] {
        width: 130px;
        box-sizing: border-box;
        border: 2px solid #ccc;
        border-radius: 4px;
        font-size: 16px;
        background-color: white;
        background-image: url('/img/searchicon.png');
        background-size: 30px;
        background-position: 10px 10px;
        background-repeat: no-repeat;
        padding: 12px 20px 12px 40px;
        -webkit-transition: width 0.4s ease-in-out;
        transition: width 0.4s ease-in-out;
        }

        input[type=text]:focus {
            width: 100%;
        }
        div.logo{
          float: left;
        }
        div.topmenu{
          float: right;
          margin-right: 80px;
        }
        div.topmenu a:hover{
          border-bottom: 2px solid gray;
        }
        div.search{
          margin-left: 900px;
          margin-top: 30px;
          float: left;
        }
