/*
|**************************************************************************
| topmenu dropdown style
|**************************************************************************
*/
.dropbtn {
    background-color: #1A202E;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    min-width: 200px;
    padding-right: 160px;
    display: inline-block;
}

.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown a{
  text-decoration: none;
  display: block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
}
.dropdown-content a:hover {
  background-color: #f1f1f1;
  text-decoration: none;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown:hover .dropbtn {
    background-color: #222838;
}
.menu{
  background-color: #1A202E;
}
